@model IEnumerable<jfrost_bugtracker.Models.Projects>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Projects</h2>

    @if (User.IsInRole("Administrator"))
    {
        <p>
            @Html.ActionLink("Create New Project", "Create")
        </p>

        @*<li>@Html.ActionLink("Create Project", "Create", "Projects")</li>
            <li>@Html.ActionLink("Admin", "Users", "Admin")</li>*@
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th>
                    Admininstrator Actions
                </th>

            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectStatus)
                </td>
                <td>
                    @foreach (var user in item.Users)
                    {
                        @user.DisplayName<br />
                    }
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        <a class="btn btn-default" href="@Url.Action("AssignUsersToProj", "Projects", new { id = item.Id })">Assign Users</a>
                        <a class="btn btn-default" href="@Url.Action("Edit", "Projects", new { id = item.Id })">Edit</a>
                        <a class="btn btn-default" href="@Url.Action("Details", "Projects", new { id = item.Id })">Details</a>
                        <a class="btn btn-default" href="@Url.Action("Delete", "Projects", new { id = item.Id })">Delete</a>
                    </td>

                }

            </tr>
        }

    </table>
